body {
  background-color: #2c7873;
  text-align: center;
}

div {
  text-align: center;
}

td{
  text-align: center;

}

table{
  margin: 0 auto;
  vertical-align:top;

}

input:focus::placeholder {
  color: transparent;
}


.text {
  height: auto;
  width: auto;
  background-color: #f6e1e1;
  display: inline-block;
  text-align: center;
  padding: 5%;
  margin: 5%;
}

.input1 {
  width: 100px;
  display: inline-block;
}

.wyniktxt {
  display: inline;
}

.wynik1 {
  display: inline;
}

.top {
  font-family: 'Slabo 27px', serif;
  font-size: 40px;


}


.tablica{
    background-color: #f6e1e1;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;

}

.komorka{


}
.przycisk{
  width: 50%;
  height: 40px;
  background-color: #6fb98f;
   border: none;
   text-decoration: none;
   font-size: 16px;
   color: white;
   cursor: pointer;
   outline: none;
}


.komorka:hover{
  background-color: #e8d4b4;
  color: #e8d4b4;

}

.choose{
    width: 400px;
    height: 400px;
    margin-top: 5%;
    padding: 2%;
    display: inline-table;
    background-color: #f6e1e1;
    text-align: center;


}

.drugi{
  text-align: center;
  display: inline-table;
  width: 400px;
  height: 400px;
  background-color: #f6e1e1;
  margin-top: 5%;
  padding: 2%;
}





.system1{

  text-align: center;


}


.input4{
  width: 70%;
  padding: 2%;
  border: none;
  border-bottom:2px solid red;
  background-color: #f6e1e1;
  outline: none;
  font-size: 30px;

}


.komorki2{

  text-align: center;
  background-color: #6fb98f;
  height: 30px;
  padding-top: 5px;
  font-size: 25px;
  padding-bottom: 5px;
  color: white;
}


.wynik123{
  max-width: 100%;
  max-height: 20%;
  min-height: 20%;
  border-bottom:2px solid red;
  text-align: center;
  font-size: 30px;
}

.textwynik{
  max-width: 10%;
  max-height: 10%;
    text-align: center;
  border-bottom:2px solid red;
  font-size: 30px;

}
select{
  background-color: #6fb98f;
  color: white;
  width: 80%;
  height: auto;
  outline: none;
  text-align-last:center;
  padding: 10px;

}
option{
  background-color: #6fb98f;
  color: white;
  text-align:center;

}
